.but{position:fixed;
    margin: 200px 100px;
    padding: 2px 20px;

}
.img{width: 50px;
    height: 20px;

}

.inf{position:absolute;
    margin: 100px 90px;
}

#login{ position:absolute;
    padding: 3px 30px;
    margin: 10px 60px;
}
#password{ position:absolute;
    padding: 3px 30px;
    margin: 50px 60px;
}

.bands{

    text-decoration:  none ;
    /*background-color: aqua;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}
.main
{
    background-color: aliceblue;
    position:relative;
    height: 500px;
    width:600px;
    margin:110px auto;
    box-shadow:0px 0px 40px black;
}

.menu{  width:898px;
    height:58px;
    /*background-color: aqua;*/
    padding:0px 0px 0px 2px;

}
.container {
    /*background-color: aqua;*/
    display: flex;
    justify-content: center;
    align-items: center;


}
.bu{
    padding:0px 0px 0px 90px;
    margin:190px 0px;
    position:static;

}
.tex{
    display: flex;
    justify-content: left;

    width: 550px;

}
.ph{
    position:absolute;
    top: 0;
    left: 20px;

    width: 200px;
    size:300px;
}
.container1 {
    /*background-color: aqua;*/
    font-family:cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;

}
.hre{	text-decoration: none;
    width: 500px;
}

.hr{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 500px;
}

.pr{ position:fixed;
    display: flex;
    justify-content: center;
    margin: 200px;

}
.aa { position:fixed;
    top: 400px;
    left: -35px;



}
.gg{
    position:absolute;
    top: 580px;
    right: 250px;
    width:150px;

}
.center {
    /*background-color: aqua;*/
    text-decoration: none;


}
.container{
    /*background-color: aqua;*/
    position: relative;
}