#myInput{
    width: 100%;
    font-size: 16px;

}
#sd{
    list-style: none;
    padding: 0;
    margin: 0;

}

#sd li  {
   border: 1px solid #dddddd;
    margin-top: -1px;
    background-color: #f2f2f2;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block ;

}
